body {
    background: lightsalmon;
}

#Danny{
    color:darkblue
}
#Danny{
    font-family: cursive, Merienda
   
}
#Issac{
    color:darkblue
}
#Bob{
    color:darkblue
}
body{
    font-family: 'Chela One', cursive;
}
@keyframes appear{
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60%{
        transform:scale(1);
        opacity: 1;
    }
}

p{
    animation-name: appear;
    animation-duration: 5s;
    font-size: 20px;
}
#danny{
    opacity: 0;
}
#bob:hover{
    opacity: 1;
}