body {
    background: lightsalmon;
}

#Danny {
    color:darkblue;
    font-family: 'Merienda', cursive;
}

#Issac{
    color:darkblue
}
#Bob{
    color:darkblue
}
body{
    font-family: 'Chela One', cursive;
}
/* TODO:  You don't need to use a new selector for every property, you can combine all your #Danny properties together in the same {} curly braces */
@keyframes appear{
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60%{
        transform:scale(1);
        opacity: 1;
    }
}

p{
    animation-name: appear;
    animation-duration: 5s;
    font-size: 20px;
}
#danny{
    opacity: 0;
}
#bob:hover{
    opacity: 1;
}